<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alkalami&family=Noto+Sans:wght@100..900&display=swap" rel="stylesheet">
  <link href="./src/output.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <title>Hello World</title>
</head>
<body class="min-w-[375px] vh-100 relative">

  <!-- Nav Header -->
  <nav id="nav-header" class="bg-secondary pb-[50px] lg:pb-[80px] relative w-full">
    
    <div class="w-[85%] max-w-[1000px] p-2 pt-20 mx-auto relative">

      <!-- Menu toggler -->
      <div class="fixed top-0 right-0 z-40 p-5 h-auto">
        <button id="nav-header-toggler" class="cursor-pointer lg:hidden">
          <img height="25" width="25" src="./assets/svg/menu.svg" alt="Nav header toggler">
        </button>
      </div>

      <!-- Hero -->
      <div class="mt-5">
        <h1 class="font-primary text-4xl text-primary">Testing</h1>
          
        <div class="divider w-[150px] bg-primary h-[4px]"></div>

        <p class="font-primary text-xs text-primary mt-3 w-5/6 max-w-[600px] leading-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt dolore, aperiam natus delectus id velit ea assumenda inventore nemo, eum totam in asperiores, ullam similique dicta nulla. Nam, asperiores doloremque.</p>
      </div>

      <div class="absolute right-0 md:-bottom-46">
        <div class="w-34 h-34 rounded-full overflow-hidden mt-5 border-6 border-primary -translate-y-[20px] md:w-40 md:h-40">
          <img class="w-full h-full" src="./assets/images/no-avatar.jpg" alt="">
        </div>
      </div>

    </div>
    
    <!-- Bottom Edge -->
    <img class="absolute -bottom-12 lg:-bottom-10 -z-50 min-w-[375px] w-screen h-[180px] lg:h-[120px]" src="./assets/images/nav-header.png" alt="">

  </nav>

  
  <!-- Navbar Menu -->
  <ul id="nav-menu" class="fixed top-0 left-0 w-screen z-50 bg-tertiary flex flex-col items-center justify-center min-h-[200px] py-10 rounded-b-[10px] gap-1.5 lg:bg-transparent lg:static lg:flex-row lg:flex-nowrap lg:justify-between lg:py-0 lg:rounded-none lg:w-[85%] lg:min-h-auto lg:gap-0 lg:mx-auto lg:mt-36 lg:max-w-[1000px]">
    <li><a class="navigate-link font-secondary hover:underline text-heading lg:text-[#7B6A65] lg:font-semibold text-sm" href="#about-me">About Me</a></li>
    <li><a class="navigate-link font-secondary hover:underline text-heading lg:text-[#7B6A65] lg:font-semibold text-sm" href="#education">Education</a></li>
    <li><a class="navigate-link font-secondary hover:underline text-heading lg:text-[#7B6A65] lg:font-semibold text-sm" href="#work-experience">Work Experience</a></li>
    <li><a class="navigate-link font-secondary hover:underline text-heading lg:text-[#7B6A65] lg:font-semibold text-sm" href="#skills">Skills</a></li>
    <li><a class="navigate-link font-secondary hover:underline text-heading lg:text-[#7B6A65] lg:font-semibold text-sm" href="#showcases">Showcases</a></li>
  </ul>
  
  <!-- About Me -->
  <div id="about-me" class="fade-in-section md:mt-5">
    <section class="w-[85%] max-w-[1000px] mx-auto py-[50px]">
      <h1 class="relative pl-5 text-3xl font-primary text-primary">
        About
        <span class="absolute left-0 -top-[13px] bottom-0 w-[5px] h-[50px] bg-primary"></span>
      </h1>
  
      <article class="w-[93%] mx-auto">
        <p class="my-4 font-secondary text-xs text-body leading-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima expedita eligendi molestiae, dolorem nam ab! Aliquam sequi vel perferendis aperiam.</p>
  
        <p class="my-4 font-secondary text-xs text-body leading-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam cupiditate hic fugiat a perspiciatis, optio praesentium porro adipisci consectetur ullam ipsum asperiores laudantium tempore voluptatem dicta soluta alias quo nisi. Expedita, tenetur facilis. Officiis eligendi odit veniam blanditiis exercitationem modi saepe at quia cum quo. Dignissimos molestiae ab cumque magnam!</p>
      </article>
  
    </section>
  </div>

  <!-- Education -->
  <div id="education" class="fade-in-section">
    <section class="w-[85%] max-w-[1000px] mx-auto py-[50px]">
      <h1 class="relative pl-5 text-3xl font-primary text-primary">
        Education
        <span class="absolute left-0 -top-[13px] bottom-0 w-[5px] h-[50px] bg-primary"></span>
      </h1>
  
      <div class="mt-12">
  
        <!-- Card 1-->
        <div class="bg-tertiary flex justify-center items-center w-[90%] mx-auto pl-12 py-8 relative my-12">
          <div class="flex flex-col items-start">
            <h3 class="font-secondary text-heading font-bold text-sm">Bachelor of Science in Computer Science</h3>
            <a href="#" class="font-secondary text-[#666666] text-xs mt-2">University of Example - 2019</a>
          </div>
  
          <!-- Small Image -->
          <div class="absolute -left-7 -top-12">
            <div class="w-18 h-18 rounded-full overflow-hidden mt-5 border-6 border-secondary">
              <img class="w-full h-full" src="./assets/images/chung-yuan-christian-university.jpeg" alt="">
            </div>
          </div>
  
        </div>
  
        <!-- Card 2-->
        <div class="bg-tertiary flex justify-center items-center w-[90%] mx-auto pl-12 py-8 relative my-12">
          <div class="flex flex-col items-start">
            <h3 class="font-secondary text-heading font-bold text-sm">Master of Science in Software Engineering</h3>
            <a href="#" class="font-secondary text-[#666666] text-xs mt-2">Example Institute of Technology - 2021</a>
          </div>
  
          <!-- Small Image -->
          <div class="absolute -left-7 -top-12">
            <div class="w-18 h-18 rounded-full overflow-hidden mt-5 border-6 border-secondary">
              <img class="w-full h-full" src="./assets/images/no-avatar.jpg" alt="">
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section>
  </div>

  <!-- Work Experience -->
  <div id="work-experience" class="w-screen bg-[#FAF7F0] fade-in-section">
    <section class="flex flex-col justify-center item-center py-10 w-[85%] max-w-[1000px] mx-auto">
    
    <h1 class="relative pl-5 text-3xl font-primary text-primary">
      Work Experience
      <span class="absolute left-0 -top-[13px] bottom-0 w-[5px] h-[50px] bg-primary"></span>
    </h1>
    
    <!-- Timeline Container -->
    <div class="relative border-l-3 border-primary pl-6 py-4 my-10 w-[97%] mx-auto">
        
        <!-- Timeline Item 1 -->
        <div class="relative my-8 w-[95%]">

            <!-- Circle Indicator -->
            <div class="circle-indicator absolute -left-[37px] top-2 w-6 h-6 bg-primary border-4 border-white rounded-full"></div>
            
            <!-- Item 1 -->
            <div class="speech-bubble relative bg-white text-gray-800 p-4 rounded-lg ml-5">
              <h3 class="text-lg font-bold text-heading font-primary">Web Developer</h3>
              
              <div class="px-2">
                <p class="text-gray-500 font-secondary text-xs">Tech Innovations Inc</p>
                <p class="text-gray-500 text-xs font-secondary">01/2020 - 02/2020</p>
    
                <p class="text-gray-700 mt-2 text-xs font-secondary my-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo ligula eget dolor. 
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </p>
              </div>
  
              <!-- Speech Bubble Tail -->
              <div class="absolute -left-[26px] top-[20px] -translate-y-1/2 border-[16px] border-transparent border-r-white"></div>
            </div>

        </div>

          <!-- Timeline Item 2 -->
          <div class="relative my-8 w-[95%]">

          <!-- Circle Indicator -->
          <div class="circle-indicator absolute -left-[37px] top-2 w-6 h-6 bg-primary border-4 border-white rounded-full"></div>
          
          <!-- Item 1 -->
          <div class="speech-bubble relative bg-white text-gray-800 p-4 rounded-lg ml-5">
            <h3 class="text-lg font-bold text-heading font-primary">Web Developer</h3>
            
            <div class="px-2">
              <p class="text-gray-500 font-secondary text-xs">Tech Innovations Inc</p>
              <p class="text-gray-500 text-xs font-secondary">01/2020 - 02/2020</p>
  
              <p class="text-gray-700 mt-2 text-xs font-secondary my-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
  
              <p class="text-gray-700 mt-2 text-xs font-secondary my-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              </p>
            </div>

            <!-- Speech Bubble Tail -->
            <div class="absolute -left-[26px] top-[20px] -translate-y-1/2 border-[16px] border-transparent border-r-white"></div>
          </div>

      </div>
    
    </section>
  </div>

   <!-- Skills -->
  <div id="skills" class="fade-in-section">

    <section class="w-[85%] max-w-[1000px] mx-auto py-[50px]">
      <h1 class="relative pl-5 text-3xl font-primary text-primary">
        Skills
        <span class="absolute left-0 -top-[13px] bottom-0 w-[5px] h-[50px] bg-primary"></span>
      </h1>
  
      <!-- Icons -->
      <div class="mt-5 grid grid-cols-3 md:grid-cols-5 gap-4 w-full">
        
        <div class="flex flex-col items-center h-[120px] justify-between gap-3 py-4">
          <img class="mx-auto" src="./assets/svg/skills/html.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">HTML5</p>
        </div>
  
        <div class="flex flex-col items-center h-[120px] justify-between gap-3 py-4">
          <img class="mx-auto" src="./assets/svg/skills/css.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">CSS3</p>
        </div>
        
        <div class="flex flex-col items-center h-[120px] justify-between gap-3 py-4">
          <img class="mx-auto" src="./assets/svg/skills/javascript.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">Javascript</p>
        </div>
        
        <div class="flex flex-col items-center h-[120px] justify-between gap-3 py-4">
          <img class="mx-auto" src="./assets/svg/skills/bootstrap.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">Bootstrap</p>
        </div>
  
        <div class="flex flex-col items-center py-4 h-[120px] justify-between gap-3">
          <img class="mx-auto" src="./assets/svg/skills/expo.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">Expo</p>
        </div>
        
        <div class="flex flex-col items-center h-[120px] justify-between gap-3 py-4">
          <img class="mx-auto" src="./assets/svg/skills/react.svg" height="45" width="45" alt="HTML">
          <p class="font-secondary font-semibold text-heading text-sm">React</p>
        </div>
  
      </div>
    </section>
  </div>

  <!-- Showcases -->
  <div id="showcases" class="fade-in-section">
    <section class="w-[85%] max-w-[1000px] mx-auto py-[50px]">
      <h1 class="relative pl-5 text-3xl font-primary text-primary inline-block">
        Showcases
        <span class="absolute left-0 -top-[13px] bottom-0 w-[5px] h-[50px] bg-primary"></span>

        <!-- Tooltip -->
        <span class="relative -right-2 -bottom-[2px]">
          <button class="cursor-pointer tooltip-btn">
            <img height="20" width="20" src="./assets/svg/info.svg" alt="Info">
          </button>
          <span class="tooltip absolute bottom-11 left-0 mb-2 w-32 p-2 bg-tertiary text-heading font-secondary text-1xs rounded opacity-0 invisible transition-opacity duration-300">
            Shift + Mouse Scroll to scroll horizontally
            <span class="absolute left-[10px] -bottom-[10px] -translate-x-1/2 border-[6px] border-transparent border-t-tertiary"></span>
          </span>
        </span>
      </h1>


      <div class="relative max-w-4xl mx-auto">
        <!-- Left Navigation Button -->
        <button id="prev-btn" class="absolute left-0 top-[85px] text-white p-3 rounded-full z-10 opacity-70 hover:opacity-100 transition cursor-pointer">
          <img class="rotate-180" height="40" width="40" src="./assets/svg/caret.svg" alt="Previous button">
        </button>

        <!-- Carousel Container -->
        <div id="carousel-container" class="overflow-hidden">
            <div id="carousel" class="flex space-x-4 overflow-x-auto scroll-hidden transition-transform duration-500">

                <!-- Showcase 1 -->
                <div class="showcase-item flex-none w-full sm:w-1/2 p-4 rounded-md">
                  <img src="./assets/images/dummy-showcase.webp" alt="Slide 1" class="w-full h-48 object-cover rounded-md">
                  <h2 class="text-lg font-bold mt-2 truncate">Showcase 1</h2>
                  <p class="text-sm text-gray-600 overflow-hidden overflow-ellipsis" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione ut consequuntur dolor sed porro sunt obcaecati laboriosam, totam quibusdam.</p>
                </div>

                <!-- Showcase 2 -->
                <div class="showcase-item flex-none w-full sm:w-1/2 p-4 rounded-md">
                  <img src="./assets/images/dummy-showcase.webp" alt="Slide 1" class="w-full h-48 object-cover rounded-md">
                  <h2 class="text-lg font-bold mt-2 truncate">Showcase 2</h2>
                  <p class="text-sm text-gray-600 overflow-hidden overflow-ellipsis" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo ratione ut consequuntur dolor sed porro sunt obcaecati laboriosam, totam quibusdam.</p>
                </div>

            </div>
        </div>

        <!-- Right Navigation Button -->
        <button id="next-btn" class="absolute top-[85px] right-0 text-white p-3 rounded-full z-10 opacity-70 hover:opacity-100 transition cursor-pointer">
            <img height="40" width="40" src="./assets/svg/caret.svg" alt="Next button">
        </button>
    </div>
  </div>

   <!-- Footer -->
  <footer class="bg-secondary w-screen">
    <div class="w-[85%] max-w-[1000px] mx-auto py-10 text-center text-white">

      <!-- Use PHP to update the current year -->
      <p class="font-secondary text-heading text-1xs">&copy; 2025 Stanford Tse. All rights reserved.</p>
      <div class="flex justify-center mt-4 space-x-4">
        
        <!-- Dynamic Icons embeded links -->
        <a href="https://github.com/success7121995" target="_blank">
          <img src="./assets/svg/profiles/github.svg" alt="GitHub" height="32" width="32">
        </a>
        <a href="https://www.linkedin.com/in/shing-fung-tse-844730294/" target="_blank">
          <img src="./assets/svg/profiles/linkedin.svg" alt="LinkedIn" height="32" width="32">
        </a>
      </div>
    </div>
  </footer>

  <!-- Back to top -->
  <button id="back-to-top" class="fixed bottom-15 right-15 p-3 bg-tertiary opacity-50 cursor-pointer">
    <img src="./assets/svg/back-to-top.svg" alt="Back to top" height="25" width="25">
  </button>
  <script src="./assets/script.js"></script>
</body>
</html>